.container {
  display:flex;
  justify-content: center;
  align-items: center;
}

#key {
  align-items: center;
  background-color: goldenrod;
  border: 5px solid black;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-size: 200px;
  height: 300px;
  justify-content: center;
  margin: 100px;
  padding: 30px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  width: 300px;
}

#square {
  background-color: black;
  height: 30px;
  width: 30px;
}