.container {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
}

#key {
  font-family: sans-serif;
  font-size: 100px;
  color: black;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  padding: 10px;
}